/* Sidebar.css */

.sidebar {
    width: 0;
    height: 100vh;
    background-color: #171717; /* Updated background color */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebar.open {
    width: 200px;
  }
  
  .sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #3a3939; /* Updated text color */
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #171717;
    cursor: pointer;
  }
  
  .sidebar .close-btn:hover {
    color: #f1f1f1;
  }
  
  .sidebar .logo {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar .logo img {
    width: 80%;
    height: auto;
    border-radius: 40%;
  }
  
  .sidebar a span {
    margin-left: 10px; /* Icon and text spacing */
  }
  
  /* Don't forget to import this style file! */
  